.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/vscode-oniguruma/release/onig.wasm
src/**
.gitignore
.prettierignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
