name: docker-base
permissions:
    contents: read
    packages: write

on:
    # Enables a button in Actions to run this.
    # Generally, we only need to run this when we're
    # updating the version set.
    workflow_dispatch:
        inputs: {}

jobs:
    docker-base:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                arch: [amd64, arm64]

        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up QEMU
              if: ${{ matrix.arch != 'amd64' }}
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            # Use the official Gradle action for better caching
            - name: Set up Gradle
              uses: gradle/gradle-build-action@v2

            - name: Build and push the base image
              run:
                  ./gradlew baseImagePush${{ matrix.arch }}
